/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.scoreboard {
  width: 100%;
  height: 100px;
/*  background-color: hsla(0, 0%, 50%, 0.5);
  border-bottom: 4px solid hsla(0, 0%, 50%, 0.9);*/
}

body {
  background-image: url('background.jpg');

}
.current {
  font-style: bold;
}

.board {
    display: flex;
    align-items: center

}

.enemy {
  animation: 1s linear 0s infinite spin;
}

@keyframes spin {
  100% {
    transform-origin: 49% 50%;
    transform: rotate(1turn);
  }
}

.scoreboard > div{
    font-family: 'Bungee Inline', cursive;
    font-size: 24px;
    float: left;
    margin-left: 50px;
    margin-right:50px;
    margin-top: 50px;
    color:white;
}

#title {
  float: right;

  font-size: 36px;  

}